Take a sample dataset containing multiple categorical variables and perform
target encoding on it.

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
df=pd.read_csv('/content/iris_modified.csv')
df

,0,sepal_length,sepal_width,petal_length,petal_width,species,Target
0,0,5.1,3.5,1.4,0.2,setosa,1
1,1,4.9,3.0,1.4,0.2,setosa,1
2,2,4.7,3.2,1.3,0.2,setosa,1
3,3,4.6,3.1,1.5,0.2,setosa,0
4,4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,virginica,0
146,146,6.3,2.5,5.0,1.9,virginica,1
147,147,6.5,3.0,5.2,2.0,virginica,0
148,148,6.2,3.4,5.4,2.3,virginica,1
149,149,5.9,3.0,5.1,1.8,virginica,0

In [81]:
df.to_csv('iris_modified.csv')

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [51]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [52]:
!pip install --upgrade category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.5.0)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)

In [59]:
from category_encoders import TargetEncoder
encoder = TargetEncoder()

/usr/local/lib/python3.7/dist-packages/category_encoders/target_encoder.py:94: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/category_encoders/target_encoder.py:99: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  category=FutureWarning)

In [83]:
encoder = TargetEncoder()
df['Probaility'] = encoder.fit_transform(df['species'], df['Target'])

/usr/local/lib/python3.7/dist-packages/category_encoders/target_encoder.py:94: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/category_encoders/target_encoder.py:99: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  category=FutureWarning)

In [85]:
df[['species',	'Target',	'Probaility']]

       species  Target  Probaility
0       setosa       1        0.46
1       setosa       1        0.46
2       setosa       1        0.46
3       setosa       0        0.46
4       setosa       1        0.46
..         ...     ...         ...
145  virginica       0        0.50
146  virginica       1        0.50
147  virginica       0        0.50
148  virginica       1        0.50
149  virginica       0        0.50

[150 rows x 3 columns]

In [70]:
data={'Animal' : ['Dog', 'Cat', 'Monkey', 'Dog', 'Dog', 'Cat', 'Monkey', 'Monkey', 'Monkey', 'Cat', 'Dog', 'Cat', 'Dog', 'Monkey', 'Dog'],
 'Target': [1, 1, 1, 0, 1, 1,0, 0, 0 ,1, 1, 1, 0, 0, 1]}
data

{'Animal': ['Dog',
  'Cat',
  'Monkey',
  'Dog',
  'Dog',
  'Cat',
  'Monkey',
  'Monkey',
  'Monkey',
  'Cat',
  'Dog',
  'Cat',
  'Dog',
  'Monkey',
  'Dog'],
 'Target': [1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1]}

In [72]:
data=pd.DataFrame(data)
data

    Animal  Target
0      Dog       1
1      Cat       1
2   Monkey       1
3      Dog       0
4      Dog       1
5      Cat       1
6   Monkey       0
7   Monkey       0
8   Monkey       0
9      Cat       1
10     Dog       1
11     Cat       1
12     Dog       0
13  Monkey       0
14     Dog       1

In [75]:
encoder = TargetEncoder()
data['probability'] = encoder.fit_transform(data['Animal'], data['Target'])

Warning: No categorical columns found. Calling 'transform' will only return input data.

/usr/local/lib/python3.7/dist-packages/category_encoders/target_encoder.py:94: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/category_encoders/target_encoder.py:99: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  category=FutureWarning)

In [76]:
data

      Animal  Target  probability
0   0.666220       1     0.666220
1   0.981030       1     0.981030
2   0.207194       1     0.207194
3   0.666220       0     0.666220
4   0.666220       1     0.666220
5   0.981030       1     0.981030
6   0.207194       0     0.207194
7   0.207194       0     0.207194
8   0.207194       0     0.207194
9   0.981030       1     0.981030
10  0.666220       1     0.666220
11  0.981030       1     0.981030
12  0.666220       0     0.666220
13  0.207194       0     0.207194
14  0.666220       1     0.666220

# 2. What is Base N encoding?
Base-N encoder encodes the categories into arrays of their base-N representation. For Binary encoding, the Base is 2 which means it converts the numerical values of a category into its respective Binary form.

# 3. Name suitable feature selection techniques. How you will do feature selection using Regularization?
Feature Selection is the method of reducing the input variable to your model by using only relevant data and getting rid of noise in data.
Some suitable Feature Selection techniques are:

*   Chi-square Test
*   Fisher's Score
*   Correlation Coefficient
*   Dispersion ratio
*   Backward Feature Elimination
*   Recursive Feature Elimination
*   Random Forest Importance
*   Entropy

Feature selction using Lasso and Ridge regularization.
**Lasso (L1)** regularization in many models causes many parameters to equal zero, so that the parameter vector is sparse.L1 is therefore useful for feature selection, as we can drop any variables associated with coefficients that go to zero
**Ridge (L2)** regularization doesnot shrink the parameters to 0. So it is not useful in feature selection.

# 4. What are different imputation techniques for handling categorical and numerical features?
Imputation for categorical features: One approach to imputing categorical features is to replace missing values with the most common class.
Imputation for Numerical features: One approach to imputing Numerical features is to replace missing values with the Mean/Median/Mode.

# 5. What is the difference between univariate and multivariate imputation?
Univariate imputation implies that only considering the values of a single column when performing imputation. Multivariate imputation, on the other hand, involves multiple features in the dataset when performing imputation.